.foto{
    display: flex;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: -1;   
 
}

.contenedorcar{ 
    min-width: 550px;
    width: 85%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px;
    gap: 60px;

}






@keyframes portal {
    0%{
        transform: translateY(0%);
     
    }
    100%{
        transform: translateY(90%);
      
    }
}


@media screen and (max-width: 870px) {
    .contenedorcar {
        width: 70%;   
        margin: 50px auto;
    }
}
@media screen and (max-width: 600px) {
    .contenedorcar {
        flex-direction: column;
        width: 40%;
        min-width: 0px;
        margin: 50px auto;

    }
}